.squareStyle {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: relative;
}

@media (max-width: 600px) {
  .squareStyle {
    width: 50px;
    height: 50px;
  }
}

.bgGreen {
  background-color: #78ae80;
}

.bgWhite {
  background-color: #eee9e4;
}

.index {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  font-size: 11px;
  font-weight: 700;
}

.xy {
  position: absolute;
  bottom: 1px;
  right: 1px;
  color: rgb(132, 132, 132);
  font-size: 10px;
  font-weight: 700;
}
